html {
  font-size: max(20pt, 6vmax);
}

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  overflow-wrap: anywhere;
  padding: 1em;
  min-height: 100vh;
}

em {
  font-style: oblique;
  font-weight: bolder;
}

nav {
  display: flex;
  flex-flow: column;
  font-family: monospace;
}

h1 {
  font-weight: 500;
}

:hover {
  text-decoration-style: wavy;
}

:focus {
  outline: thick groove;
}
